<mat-toolbar color="primary" class="mat-elevation-z7">
    <span><mat-icon>book</mat-icon>Cuentos</span>

    <div class="spacer"></div>

    <a mat-button routerLink="signup">Registrate</a>
    <a mat-raised-button color="accent" routerLink="login">Ingresa</a>

    

</mat-toolbar>
<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav py-3">
                <li class="active"><a routerLink="/">Inicio</a></li>
                <li><a href="#">blblbl</a></li>
                <li><a href="#">Categorías</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->
