<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Ingresar</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Docente">
          <mat-card-content>
            <form action="">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Email"
                  required
                  name="email"
                  ngModel
                  #email="ngModel">
                  <mat-error *ngIf="email.invalid">Email es requerido
                  </mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Contraseña"
                  type="password"
                  required
                  minlength="6"
                  name="password"
                  ngModel
                  #password="ngModel">
                  <mat-error
                    *ngIf="password.errors && password.errors.required">
                    Contraseña es requerida
                  </mat-error>
                  <mat-error
                    *ngIf="password.errors && password.errors.minlength">
                    La contraseña debe ser de mínimo 6 caracteres
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <mat-checkbox>Recuerdame</mat-checkbox>
              <button
                mat-raised-button
                color="primary"
                class="login-button">
                Ingresar
              </button>

              <button
                mat-raised-button
                class="login-button">
                Ingresar con Google
              </button>
            </form>
          </mat-card-content>
      </mat-tab>
      
      <mat-tab label="Estudiante">
        <mat-card-content>
          <form action="">
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                required
                name="email"
                ngModel
                #email="ngModel">
                <mat-error *ngIf="email.invalid">Email es requerido
                </mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Contraseña"
                type="password"
                required
                minlength="6"
                name="password"
                ngModel
                #password="ngModel">
                <mat-error
                  *ngIf="password.errors && password.errors.required">
                  Contraseña es requerida
                </mat-error>
                <mat-error
                  *ngIf="password.errors && password.errors.minlength">
                  La contraseña debe ser de mínimo 6 caracteres
                </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-checkbox>Recuerdame</mat-checkbox>
            <button
              mat-raised-button
              color="primary"
              class="login-button">
              Ingresar
            </button>

            <button
              mat-raised-button
              class="login-button">
              Ingresar con Google
            </button>
          </form>
        </mat-card-content>
    </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

        